.logo {
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

.text-small-bold {
    font-size: 20px;
    font-weight: 700;
}

/* .kdk__bg--top::before {
    content: "";
    display: block;
    width: 100vw;
    height: 100vh;
    background-image: url('../img_kdk/city/top.jpg');
    background-size: cover;
    filter: blur(1px);
  } */

  /* @media (min-width: 768px) {

  } */

.navbar-collapse {
    flex-grow: 0.6;
}

.hr-margin {
    margin-top: 5px;
    margin-bottom: 5px;
}